@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap');

* {
	padding: 0;
	margin: 0;
	resize: none;
	transition: .2s;
}

body {
	background: #fff8ef;
	font-family: 'Montserrat', sans-serif;
}

.main {
	position: relative;
	box-sizing: border-box;
	display: grid;
	grid-template-columns: 1fr 3fr;
	grid-gap: 25px;
	max-height: 100vh;
	height: 100vh;
	padding: 5vw;
}

.left-side {
	display: flex;
	align-items: center;
	height: 100%;
}

.general-info {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
	padding: 20px;
	position: relative;
	color: #ccbbaa;
	user-select: none;
	cursor: pointer;

	transition: .2s;
}

.general-info:hover {
	background: #1a1c1f;
	border-radius: 2em;
	color: #505860;
}

.time {
	line-height: .75em;
	font-size: max(min(12.5vw, 65px), 7.5vh);
	font-weight: 700;
}

.date {
	line-height: 1em;
	font-size: max(min(8vw, 45px), 5vh);
	font-weight: 700;
}

.week-day {
	line-height: 1em;
	font-size: max(min(6vw, 35px), 3vh);
	font-weight: 700;
}

.shadow {
	text-shadow: 0px 0px 7.5px #5544331f;

	transition: all .1s;
}

.desk {
	padding: max(3vh, 1.5em);
	background: #eeddcc;
	border-radius: max(5vh, 2em);
	box-shadow: 0px 0px 7.5px 0px #5544331f, inset 0 0 64px 25px #5544330f;

	transition: all .1s;
}

.desk-textarea {
	height: 100%;
	width: 100%;
	padding: 1.2em;
	box-sizing: border-box;
	border: none;
	border-radius: max(2.5vh, 1em);
	font-family: 'Calibri';
	font-size: max(2vh, 16px);
	color: #554433;
	line-height: 1.25em;
	outline: none;
	background-image: repeating-linear-gradient(#fff 0px, #fff8f0 1em, #5544333f 1.25em);
	box-shadow: 0px 0px 7.5px 0px #5544331f, inset 0 0 64px 25px #5544331f;
}

.authorization {
	position: absolute;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	z-index: 1;
	background: #000000aa;
	backdrop-filter: blur(15px);
	display: flex;
	align-items: center;
}

.container {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	gap: 15px;

	align-items: center;
}

.auth-input {
	height: 2em;
	padding: .5em 1.5em;
	border-radius: 2em;
	outline: none;
	border: none;
	background: #eeddcc;
	color: #554433;
	font-weight: 700;
	font-size: max(16px, min(32px, 3vh));
}

.auth-input:focus {
	transform: scale(1.1);
}

.submit {
	height: 2.5em;
	width: 10em;
	border-radius: 2em;
	outline: none;
	border: none;
	background: #554433;
	color: #eeddcc;
	cursor: pointer;
	font-size: max(16px, min(24px, 2vh));
}

.submit:focus {
	background: #eeddcc;
	color: #554433;
}

.submit:active {
	background: none; color: #eeddcc;
	border: 2px solid #eeddcc;
	transform: scale(.9);
}

@keyframes loading {
	0% {
		background-position: -100px;
	}
	50% {
		background-position: 100px;
	}
	100% {
		background-position: -100px;
	}
}

.log-out {
	display: flex;
	margin: 25px;
	padding: 1em;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 1.25em;
	color: #eeddcc;
	font-weight: 900;
	cursor: pointer;
	font-size: 12px;
	user-select: none;
}

.log-out:hover {
	background: #eeddcc;
	color: #fff8f0;
}

.log-out:active {
	transform: scale(0.9);
	background: #554433;
	border-color: #554433;
	color: #eeddcc
}

@media screen and (max-width: 1000px) {
	.main {
		grid-template-columns: none;
		grid-template-rows: 1fr 2fr;
	}

	.desk-text {
		font-size: 2.5vh;
	}
}
